@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#fase1{
    background-image: url("escola1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#fase2{
    background-image: url("quadra.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#fase3{
    background-image: url("refeitorio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.texto{
    display:flex;
    width: 80%;
    height: 80%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h3 {
    font-family: 'Bebas Neue', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
}

p{
    font-family: 'Overpass', sans-serif;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
}

.botao{
    display: flex;
    align-items: center;
    justify-content: center;
}