@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#fase1{
    background-image: url("saladeAula.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#fase2{
    background-image: url("corredorFaseLet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#fase3{
    background-image: url("escadas.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h3{
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
   
}

p{
    font-family: 'Overpass', sans-serif;
}

.texto3{
    width: 60%;
    background:#a0c4ff;
    padding: 20px;
    border-radius: 20px;
}

.texto2{
    width: 60%;
    background:#c2c5aa;
    padding: 20px;
    border-radius: 20px;
}
.texto1{
    width: 60%;
    background:#dee2e6;
    padding: 20px;
    border-radius: 20px;
}
.titulo{
    color: #e5e5e5;
}