@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#fase1{
    background-image: url("saladeAula.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#fase2{
    background-image: url("corredorFaseLet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#fase3{
    background-image: url("escadas.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h3{
    font-family: 'Bebas Neue', cursive;
}

p{
    font-family: 'Overpass', sans-serif;
}

