*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#faseFinal{
    background-image: url("youWin.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:-170px;
}